.todoitems{
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
    align-items: center;
}

.todoitems-container{
    display: flex;
}

.todoitems-text{
     padding-left: 20px;
     color:#bd1f1f;
     font-size: 30px;
     font-weight: 500px;
}

.todoitems-cross{
   cursor: pointer;
   padding-right: 25px;
}

.line-through{
    text-decoration: line-through solid #450fd8 3px;
}